body {
  background: url('https://media.istockphoto.com/photos/sad-girl-picture-id897516772?k=6&m=897516772&s=612x612&w=0&h=tg_-mqtmTUiQiWmOsiVCU5pu9kOceJCISo8lUIX5Ric=');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.button.is-link {
  background-color: #4d9c90;
  /* #e6b04c; */
  color: white;
  font-weight: bold;
}
.subtitle {
  color: orange;
}
.title {
  color: white;
}
.para {
  color: #b7b4b4;
  padding-bottom: 20px;
}
img {
  width: 80px;
  margin-left: 20px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0;
  background: #040b24;
  color: white;
}
